<table class="table table-striped col-md-12" id="promotions">
  <thead>
    <tr>
      <th>Key Word</th>
      <th>Source</th>
      <th>Type</th>
      <th>Expiration Date</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @promotion.each do |promotion| %>
      <tr>
        <td>
          <%= promotion.keyword %>
        </td>
        <td>
          <%= promotion.source %>
        </td>
        <td>
          <%= promotion.kind %>
        </td>
        <td>
          <%= promotion.expdate %>
        </td>
        <td>
          <%= link_to "details", promotion_path(promotion) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add a new promotion', new_promotion_path, :class => 'btn btn-primary' %>