<h1>Create New Promotion</h1>
<%= form_tag promotions_path, :class => 'form' do %>
  <%= label :promotion, :keyword, 'Keyword', :class => 'col-form-label' %>
  <%= text_field :promotion, :keyword, :class => 'form-control' %>
  <%= label :promotion, :source, 'Source', :class => 'col-form-label' %>
  <%= text_field :promotion, :source, :class => 'form-control' %>
  <%= label :promotion, :category, 'Category', :class => 'col-form-label'  %>
  <%= select :promotion, :category, ['New User Only','Refer Code','Common','Other'], {}, {:class => 'form-control col-2'} %>
  <br/>
  <%= label :promotion, :expdate, 'Expiration Date', :class => 'col-form-label'  %>
  <%= date_select :promotion, :expdate, {}, :class => 'form-control col-2 d-inline' %>
  <br/>
  <%= label :promotion, :info, 'Info', class: 'col-form-label' %>
  <%= text_field :promotion, :info, class: 'form-control' %>
  <br/>
  <%= submit_tag 'Create Promotion', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', promotions_path, :class => 'btn btn-secondary' %>
<% end %>