<!DOCTYPE html>
<html>
  <head>
    <title>EcoHub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield(:head) %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-success text-white mb-3">
      <h1 class="title">EcoHub!</h1>
      <div class="container justify-content-end">
        <div class="row form-inline">
          <% if Current.user %>
            <h5>
              Hi,  <%= Current.user.nickname %>
            </h5>

            <%= button_to "Logout", logout_path, method: :delete, class: 'btn btn-warning' %>
          <% else%>
            <%= link_to "Login", sign_in_path %>
            <%= link_to "Sign Up", sign_up_path %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>